.webform-export-status .webform-export-field {
  float: left;
  width: 200px;
  margin: 5px;
  background: #f00;
  color: #fff;
}

.webform-export-status .visualize {
  width: 100%;
  margin: 40px;
  font-size: 11px;
}

.webform-export-status tbody th {
  width: 60px;
}